<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.world.img144.sutictacas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:installLocation="preferExternal">
        <activity
            android:name="com.world.img144.sutictacas.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.world.img144.sutictacas.INFO" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.world.img144.sutictacas.SMSP3X3" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.world.img144.sutictacas.SMSP9X9" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.world.img144.sutictacas.SMDP3X3" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.world.img144.sutictacas.SMDP9X9" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.world.img144.sutictacas.LAN" />
        <activity
            android:screenOrientation="portrait"
            android:name="com.world.img144.sutictacas.middle" />


    </application>

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.wifi" />


</manifest>